@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap')



* {
    box-sizing: border-box;
    font-family: Roboto;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container .card {
    margin: 5%;
    width: 250px;
    height: 312px;
    perspective: 1000px;
    background-color:transparent;
}

.card-container .card .box {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease;
}

.card-container .card:hover .box {
    transform: rotateY(180deg);
}
.card-container .card .box .image .img-div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    background: #04000a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.card-container .card .box .image .img-div .event-logo {
    position: relative;
    margin-top: 0%;
    max-width: 100%;
    max-height: 100%;
    /*background-image: linear-gradient(to right bottom, #c910ba, #b343d1, #995de3, #7c71ef, #5b81f6, #6783f5, #7285f5, #7b87f4, #a37bea, #c36eda, #dd61c5, #f054ac);*/
    border-radius: 1.5rem;
    transform-style: preserve-3d;
    object-fit: cover;
    top: -15px;
}

.card-container .card .box .content {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    border-radius: 1.8rem;
}

.card-container .card .box .content .matter {
    width: 80%;
    height: 80%;
    border-radius: 1.8rem;
    padding: 20px;
    transform: translateZ(100px);
    color: white;
    align-items: center;
    display: grid;
}

.tech_1 {
    background: #0081ce;
}

.non_tech_1 {
    background: #aa0057;
}

.flag_1 {
    background: #720300;
}

.bot_1 {
    background: #01b5b8;
}

.paper_1 {
    background: #7f1fb3;
}

.work_1 {
    background: #7d9507;
}

.btn {
    padding: 10px 24px;
    border-radius: 1.8rem;
    border-color: #d1d7e0;
    font-size: 15px;
    color: #15003a;
    box-shadow: 0 0 40px 40px #d1d7e0 inset, 0 0 0 0 #d1d7e0;
    transition: all 150ms ease-in-out;
  }
  
.btn:hover {
    color: #15003a;
    
  }
  .m_btn{
    display:flex;
    justify-content: center;

  }
  .m_cnt{
    display:flex;
   
    text-align: center;
  }

  

p {
    font-size: 15px;
    font-weight: lighter;
    margin-top: 2%;
}


.card-title {
    font-size:18px;
    position: relative;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    color: white;
    top:-20px;
    padding: 0 15px;
    /* font-weight: bold; */
}

.turn-on{
    color:white;
    display: block;
    font-size:18px;
    position: relative;
    box-sizing: border-box;
    top:-10px;

}

.right-10{
    right: -10px;
}


@media (min-width: 576px)  { 
    .turn-on{
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
    font-family: 'Play', sans-serif ;
    text-align: center;
    color: white;
    display: block;
    top: -10px;
    }
    .card-title {
        font-size:18px;
        position: relative;
        box-sizing: border-box;
        font-family: 'Play', sans-serif;
        text-align: center;
        color: white;
        top:-20px;
        /* font-weight: bold; */
    }
    .card-container .card {
        margin: 5%;
        width: 300px;
        height: 380px;
        perspective: 1000px;
        background-color:transparent;
    }
    
 }
 @media (min-width: 768px)  {
    .turn-on{
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    display: block;
    top:-10px;
    }
    .card-title {
        font-size:20px;
        position: relative;
        box-sizing: border-box;
        font-family: 'Play', sans-serif;
        text-align: center;
        color: white;
        top:-20px;
        /* font-weight: bold; */
    }
    .card-container .card {
        margin: 5%;
        width: 300px;
        height: 380px;
        perspective: 1000px;
        background-color:transparent;
    }
}
@media (min-width: 992px) { 
    .event-logo{
        top: -15px !important;
    }
    .turn-on{
        display: none;
        }
        .card-title {
            font-size:24px;
            position: relative;
            box-sizing: border-box;
            font-family: 'Play', 'sans-serif';
            text-align: center;
            color: white;
            top: 0px;

        }
        .card-container .card {
            margin: 5%;
            width: 300px;
            height: 360px;
            perspective: 1000px;
            background-color:transparent;
        }
    }
 @media(min-width :1200px){
    .top-20{
        top:-20px !important;
    }
 }

/* .modal{
    border-radius: 1.8rem;
}
.modal-header h4{
    text-align: center;
    font-size: 24px;

}
.modal h4{
    text-align: center;
    font-size: 18px;
}
.modal-dialog{
    width: 95%;
    height: 100%;
    border-radius: 1.8rem;
}

.description{
    margin: 20px;
}
#headingTwo{
    background: #002238;
    color:whitesmoke;
}
#headingten{
    background: #002238;
    color:whitesmoke;
}
#headingfive{
    background: #002238;
    color:whitesmoke;
}
#headingThree{
    background: #002238;
    color:whitesmoke;
}
#headingone{
    background: #002238;
    color:whitesmoke;
}
.panel{
    background: #002238;
    color:whitesmoke;
}

.modal-content{
    border: #3498db 1px solid;
    border-radius: 1.8rem;
    background: #002238;
    color:whitesmoke;
    font-family:cursive;
}
.panel-body{
    border: #3498db 2px solid;
}

.modal-footer{
    background: black;
    padding: 10px;
}


/* #btn_1 {
    padding: 10px 24px;
    margin: 10px;
    border-radius: 1.8rem;
    border-color: #3498db;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
  }
  
#btn_1:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  } /
  

@media (max-width: 576px) {}


@media (max-width: 768px) {}


@media (max-width: 992px) {}


@media (max-width: 1200px) {}


@media (max-width: 1400px) {}


@media (prefers-reduced-motion: no-preference) {
    .fade {
        transition: none;
    }

} */