.footer {
  background: #0B0C10;
}

.footer__copyright {
  /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
  padding: 20px 0;
}

.footer__copyright__text {
  font-size: 15px;
  margin-bottom: 0;
  font-weight: 300;
  color: white;
  text-align:center !important;
}
.footer__copyright__text i {
  /* color: #66fcf1; */
  color: #9c02f5;
}
.footer__copyright__text a {
  /* color: #66fcf1; */
  color: #9c02f5;
}