
html { font-size: 70%; }

body {
  box-sizing: border-box;
  background: #2d283e;
  position: relative;
  color: #272829;
}

.container-fluid{
  margin: 0 !important;
  padding: 0 !important;
}


#sliding-bar {
  position: absolute;
  height: 4px;
  width: 100% ;
  /* background: #d1d7e0; */
  background: #9c02f5;
  /* background: #66fcf1; */
  bottom: 0px;
  transition: 0.5s;
  border-radius: 4px;
}
/* footer =======================*/
.footer__option__item h5 {
  font-size: 20px;
}
.footer__option__item p {
  font-size: 16px;
}
.footer__option__item h6 {
  font-size: 20px;
}
.footer__option__item ul {
  padding-left: 20%;
}
/* Headings */
.head-refn {
  font-weight: 500 !important;
  font-size: 26px ;
}

.download{
  color: #9c02f5;
}

/* Footer ====================================*/

.footer {
  background-color: #333;
   margin-top: 3rem;
  padding: 1rem 0;
  width: 100%;
}

.footer-text {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}
.hide {
  display: none;
}
.hide-1 {
  display: none;
}
.hide-2 {
  display: unset;
}
@media (max-width: 991px) {
  .hide-1 {
    display: unset;
  }
  .hide-2 {
    display: none;
  }
}
@media (max-width: 572px) {
  .hide {
    display: unset;
  }
  .hide-2 {
    display: unset;
  }
  .inside-page__heading {
    display: none;
  }
}
.category-bar {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  z-index: 150;
}

.category-bar nav{
  display: flex;
  justify-content: center;
  left: 20%
}

.bullet ul {
  list-style-type: disc !important;
  text-align: left;
}

.category-bar a {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  
  align-items: center;
  justify-content: center;
}
.category-bar a:hover{
  transform: scale(1.2);
}


.category-bar nav a {
  text-decoration: none;
  color: white;
  font-family: "Play", sans-serif;
  height: 100%;
  padding: 10px;
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  transition: 0.5s;
  margin: 0 20px;
}

.category-bar nav a:hover {
  color: #9c02f5;
  transition: 0.5s;
}


.category h2 {
  color: #d1d7e0;
  text-align: center;
  font-family: "Play", sans-serif;
  font-size: 30px;
  margin-top: 20px;
  text-transform: uppercase;
}




.transition { transition: all .3s ease-out }
.category .nos{
padding: 64px 8px 4px 24px;
  position: relative;
  width: auto !important;
  max-width: 300px;
  height: 300px;
  border-radius: 8px;
  display: block;
  margin: 12px;
  text-decoration: none;
  background-color: rgb(37, 37, 37);
  z-index: 0;
  overflow:hidden;  
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);  
}

@media (max-width: 465px) {
  .category-bar nav a {
    font-size: 12px;
    margin: 0 10px;
    overflow: hidden;
  }  
}

@media (max-width: 330px) {
.category-bar nav a {
  font-size: 10px;
  margin: 0 5px;
  overflow: hidden;
}  
}

@media (max-width: 572px) {
  .inside-page-1,
  .inside-page-2 {
    width: 16rem;
  }
  .card,
  .flip-card,
  .card-front-1,
  .card-front-2 {
    height: 16rem;
    width: 16rem;
  }
  .card:hover {
    width: 32rem;
  }
  .card-front__tp {
    height: 12.8rem;
  }
  .video__container-1 h3 {
    font-size: 15px;
  }
  .video__container-2 h3 {
    font-size: 15px;
  }
}


/*modal*/


.modal {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0em;
  overflow: auto;
  overflow-x: hidden;
  border: 25px solid rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  width: 80%;
  border-radius: 25px;
  height: 100%;
  margin: auto;
  padding: 30px 70px;
  background-color: #0b0c10 !important;
  overflow: auto;
  overflow-x: hidden;
  color: white !important;
}

.modal_close {
  color: #9c02f5;
  float: right;
  font-size: 30px;
  font-weight: bold;
  text-align: end;
}

.modal_close:hover,
.modal_close:focus {
  color: #d1d7e0;
  text-decoration: none;
  cursor: pointer;
}

.modal h4,
.modal h5 {
  text-align: center;
  font-size: 20px;
  font-family: "Play", sans-serif;
  margin-bottom: 10px;
}

.modal h4 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center !important;
  color: #ba44fe;
}

.modal h5 {

  margin: 0;
  font-size: 23px;
  color: #ba44fe;
  text-transform: uppercase;
  text-align: justify!important;
  margin-bottom: 1.2em;
}
.r_tag{
  text-align: center !important;
  margin: 0;
  font-size: 18px;
  color: #d1d7e0;
  text-transform: uppercase;
  margin-bottom: 1.2em;
}
.e_tag{
  text-align: center !important;
  margin: 0;
  font-size: 18px;
  color: #d1d7e0;
  text-transform: uppercase;
  margin-bottom: 1.2em; 
}
.bullet {
  margin-bottom: 2em;
}



.description {
  width: 100%;
  height: auto;
  font-family: "Play", sans-serif;
  text-align: center;
  padding: 20px;
  line-height: 2em;
  letter-spacing: 1px;
  font-size: 18px;
  text-align: justify!important;
}



.modal ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.modal a {
  color: #9c02f5;
  text-align: center !important;
  position: relative;
  font-size: 18px;
  
}


@media(max-width :768px){
  .e_tag{
      font-size: 16px !important;
  }
}


/*Small screen*/

@media (max-width: 576px) {
  
  
  .modal {
      border: 20px solid rgba(0, 0, 0, 0);
  }
  .modal-content {
      width: 97%;
      padding: 15px 20px;
  }
  .description,
  .details {
      font-size: 14px;
  }
  .modal h4 {
      font-size: 22px;
  }
  .modal h5 {
      font-size: 18px;
  }
  .modal button {
      font-size: 18px;
  }
  .social-media-icons a {
      width: 40px;
      height: 40px;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 19px;
  }
  .social-media-icons {
      height: 130px;
  }
  .modal a {
    color: #d1d7e0;
    text-align: center !important;
    position: relative;
    font-size: 14px;
    
  }
  
}


/*Mobile*/

@media (min-width: 577px) and (max-width: 767px) {
  
  .modal-content {
      width: 90%;
      padding: 15px 20px;
  }
  .description,
  .details {
      font-size: 15px;
  }
  .modal h4 {
      font-size: 23px;
  }
  .modal h5 {
      font-size: 18px;
  }
  .modal button {
      font-size: 19px;
  }
  .head-refn{
    font-size: 20px !important;
  }
  .modal a {
    color: #d1d7e0;
    text-align: center !important;
    position: relative;
    font-size: 14px;
    
  }
}


/*Tablet*/

@media (min-width: 768px) and (max-width: 1199px) {
  
  .modal-content {
      width: 93%;
      padding: 20px 30px;
  }
  .modal-div p {
      -webkit-line-clamp: 3;
  }

  
}
@media (min-width: 768px){
  .head-refn{
    font-size: 26px !important;
  }
}


.panel-group .panel{
  background-color: #0b0c10;
  border:none;
  box-shadow:none;
  border-radius: 10px;
  margin-bottom:11px;
}
.panel .panel-heading{
  padding: 0;
  border-radius:10px;
  border: none;
}
.panel-heading a{
  text-decoration:none;
  color:white!important;
  display: block;
  border:none;
  padding:20px 35px 20px;
  font-size: 20px;
  background-color:#0b0c10;
  font-weight:600;
  position: relative;
  color:#fff;
  box-shadow:none;
  transition:all 0.1s ease 0;
}
.panel-heading a:after, .panel-heading a.collapsed:after{
  content: "\f068";
  font-family: fontawesome;
  text-align: center;
  position: absolute;
  left:-20px;
  top: 10px;
  color:#9c02f5 !important;
  background-color:#d1d7e0;
  border: 5px solid #d1d7e0;
  font-size: 15px;
  width: 40px;
  height:40px;
  line-height: 30px;
  border-radius: 50%;
  transition:all 0.3s ease 0s;
}
.panel-heading:hover a:after,
.panel-heading:hover a.collapsed:after{
  transform:rotate(360deg);
}
.panel-heading a.collapsed:after{
  content: "\f067";
}
#accordion .panel-body{
  background: color #c5c6c7;;
  color:white;
  line-height: 25px;
  padding: 10px 10px 20px 10px ;
  border-top:none;
  font-size:14px;
  position: relative;
}
.text-white{
  color:#d1d7e0;
  text-transform: uppercase;
}

.submitBtn{
  height: 48px;
  width:150px;
  border-radius: 24px;
  font-size: 16px;
    outline: none;
    background: none;
    display: block;
    margin: 0px 20px 20px 20px;
    text-align: center;
  border-color: #8900d8;
  color: #9c02f5;
  background-color: #d1d7e0;
 /*background-image: linear-gradient(315deg, #facc6b 0%, #fabc3c 74%);*/
  transition: all 150ms ease-in-out;

}
.submitBtn:hover {
  background: 	#2d283e;
  box-shadow: 0 0 10px 0 #8900d8 inset, 0 0 10px 4px #d1d7e0;
  color: rgb(255, 255, 255);
}
@media (min-width: 470px) and (max-width: 502px){
  .head-refn-2{
    margin-right: 50px !important;
  }
}
@media (max-width: 470px){
  .head-refn{
    font-weight: 300;
    font-size: auto !important;
  }
  .head-refn-2{
    margin-right: 30px !important;
  }
  .category-bar nav{
    height: 48px;
  }
}
@media (max-width: 300px){
  .head-refn{
    font-weight: 300;
    font-size: auto !important;
  }
}
